<h3 class="font-weight-bold">
  Movie DB search
</h3>
<div class="row">
  <div class="col-sm-12">
    <form class="" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="row">
          <div class="col-sm-4">
            <label>
              Name:
              <input  placeholder="name" class="form-control" #name formControlName="name">
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              Category:
              <input matInput placeholder="categoryName" class="form-control" #categoryName
              formControlName="categoryName">
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              year:
              <input matInput placeholder="year" class="form-control" #year formControlName="year">
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              Actor:
              <input matInput placeholder="actorName" class="form-control" #actorName formControlName="actorName">
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              Director:
              <input matInput placeholder="directorName" class="form-control" #directorName
              formControlName="directorName">
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              Producer:
              <input matInput placeholder="producerName" class="form-control" #producerName
                formControlName="producerName">
            </label>
          </div>
          <button class="btn-here-prim" mat-raised-button type="submit">search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-12">
    <table style="width:100%">
      <tr>
        <th>id</th>
        <th>Movie Name</th>
        <th>Year</th>
        <th>Category</th>
        <th>Director</th>
        <th>Producer</th>
        <th>Actor</th>
      </tr>
      <tr *ngFor="let movie of movies">
        <td>{{movie.movieId}}</td>
        <td>{{movie.name}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.category}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.producer}}</td>
        <td>{{movie.actor}}</td>
      </tr>

    </table>
  </div>
</div>